server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/natureblessingsdb
    username: devpratapsinghrajawat
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  application:
    name: product-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
